@page
@model OneAir.Views.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>AirQuality</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AirQuality.AirQualityID" />
            <div class="form-group">
                <label asp-for="AirQuality.DeviceID" class="control-label"></label>
                <input asp-for="AirQuality.DeviceID" class="form-control" />
                <span asp-validation-for="AirQuality.DeviceID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AirQuality.Time" class="control-label"></label>
                <input asp-for="AirQuality.Time" class="form-control" />
                <span asp-validation-for="AirQuality.Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AirQuality.Latitude" class="control-label"></label>
                <input asp-for="AirQuality.Latitude" class="form-control" />
                <span asp-validation-for="AirQuality.Latitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AirQuality.Longitude" class="control-label"></label>
                <input asp-for="AirQuality.Longitude" class="form-control" />
                <span asp-validation-for="AirQuality.Longitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AirQuality.PM10" class="control-label"></label>
                <input asp-for="AirQuality.PM10" class="form-control" />
                <span asp-validation-for="AirQuality.PM10" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AirQuality.PM25" class="control-label"></label>
                <input asp-for="AirQuality.PM25" class="form-control" />
                <span asp-validation-for="AirQuality.PM25" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
