@page
@model OneAir.Views.Home.IndexModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link rel="stylesheet" href="~/css/index.css" />
}

<div class="container pt-3">
    <div class="text-center">
        <h4 id="descri"></h4>
        <div id="location"></div>
        <div id="forecast"></div>
    </div>
</div>

<div class="container pt-3">
    <div class="row d-flex justify-content-center">
        <button type="button" id="refreshid" onclick="location.reload()" class="btn btn-outline-secondary">Refresh</button>
    </div>
</div>

<div class="container pt-3">
    <div class="row d-flex justify-content-center">
        <button type="button" id="passmapid" onclick="passMap()" class="btn btn-success">Map</button>
        <button type="button" id="passgraphid" onclick="passGraph()" class="btn btn-danger">Graph</button>
    </div>
</div>

<div id="getMap">

    <div class="container pt-3">
        <div class="row d-flex justify-content-center">
            <label class="form-label">pM Level</label>
            <input class="form-range" type="range" min="0" max="80" step="0" id="slider" oninput="outputUpdate(value)" />
            <output for="slider" id="volume">0</output>
        </div>
    </div>
    <div class="container pt-3">
        <div class="row d-flex justify-content-center">
            <button type="button" onclick="getAllMap()" class="btn btn-outline-secondary">Reset</button>
        </div>
    </div>

    <div class="container pt-3">
        <div>
            <div id="mapid"></div>
            <div id="goodid"></div>
            <div id="moderateid"></div>
            <div id="usgid"></div>
            <div id="unhealthyid"></div>
            <div id="veryunhealthyid"></div>
            <div id="hazardousid"></div>
        </div>
    </div>

</div>

<div id="getGraph">

    <div class="container pt-3">
        <div>
            <div id="chart"></div>
        </div>
    </div>
     
</div>

<script src="~/js/index.js" asp-append-version="true"></script>
<script src="~/js/filter.js" asp-append-version="true"></script>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>

