@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This privacy statement contains information about how the collected data is
    processed and for what purposes OneAir process the information.</p>

<h1>How data is processed</h1>

<p>All the data OneAir will be collected via a mobile sensor through multiple users and stored
    on database. It is then retrieved through an via API for the website.</p>

<h1>Purposes</h1>

<p>
    OneAir is a web-based application that uses an API to collect air quality data from
    multiple users via a mobile sensor and it then displayed on this website to be viewed by other users.
    The main goal is to address the needs and desires of users by creating a website around them. Based on the collected
    data, it will be integrated with Google Map to help user will air quality data around them.
</p>

<h1>Data processed by OneAir</h1>

<ul>
    <li>AirQualityID</li>
    <li>DeviceID</li>
    <li>Time</li>
    <li>Latitude</li>
    <li>Longitude</li>
    <li>PM10</li>
    <li>PM2.5</li>
</ul>